/* PREENTREGA 2 KLIMEK */
/*RESET CSS*/
*{
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------*/
                     /* Mobile first */

#body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr 1fr auto;
    width: 100vw;
    height: auto;
}

/*Inicia header mobile*/
#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-height: 70vh;
    min-height: 20vh;
    background-color: black;
    color: white;
    border: solid 3px white;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.header--img{
    width: 12%;
    height: auto;
}

/*Inicia nav mobile*/
#nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding-top: 10px;
    background-color:grey;
    border: solid 3px black;
    border-radius: 10px;
}
.nav--img{
    max-width: 35vw;
    height: auto;
    border: solid 3px white;
}
.nav__div--ul{
    padding-top: 10px;
}
a,ul {
    list-style: none;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 20px;
}
a{
    border: solid 3px black;
    border-radius: 10px 20px;
    background-color: rebeccapurple;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}
a:hover{
    color: greenyellow;
}
li{
    padding-bottom: 10px;
}

/*Inicia main mobile*/
#main{
    border: solid 3px black;
    border-radius: 10px;
    background-image:url(./IMAGENES/FONDO\ INICIO.jpg) ;
    background-size: cover;
}
.main__section__div{
    display: flex;
    flex-direction: column;
    justify-content: start ;
    justify-items: start;
    width: 100vw;
    height: 500px;
    color: white;
    text-align: center;
    font-size: 20px;
    overflow: auto;
}
.main__section__div--padding{
    padding: 20px;
}
.main__section__div__a{
    border: solid greenyellow 3px;
    background-color: black;
    color: white;
    border-radius: 10px;
    box-shadow: greenyellow 3px 3px 30px;
}
.main__section__div__galeria .main__section__div__servicios{
    display: flex;
    flex-direction: column;
    max-height: 50vh;
}
.main__section__div__galeria--img{
    border: solid 4px greenyellow;
    border-radius: 30px;
    box-shadow: 3px 3px 30px;
    width: 70vw;
    height: auto;
}
.main__section__div__galeria--figure{
    padding-bottom: 20px;
}
.main__section__div__servicios__figure--img{
    width: 450px;
    height: 300px;
    border: solid 4px greenyellow;
    border-radius: 30px;
    box-shadow: greenyellow 3px 3px 30px;

}
figcaption{
    font-size: 30px;
}


/*Inicia aside mobile*/
#aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
    border-radius: 10px;
    background-color: black;
    background-image: url(./IMAGENES/FONDO\ ASIDE.jpg);
    background-size:contain;
}
.aside--img{
max-width: 100vw;
max-height: 10vh;
height: auto;
border: solid 3px greenyellow;
border-radius: 10px;
box-shadow: greenyellow 3px 3px 30px;
}
.aside--video{
    max-width: 90vw;
    height: 20vh;
    box-shadow: greenyellow 3px 3px 30px;
    border: solid 3px greenyellow;
    border-radius: 10px;    
}
.aside--img{
    -webkit-animation: rotate-hor-center 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate ;
	        animation: rotate-hor-center 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate ;
}
@-webkit-keyframes rotate-hor-center {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-360deg);
              transform: rotateX(-360deg);
    }
  }
  @keyframes rotate-hor-center {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-360deg);
              transform: rotateX(-360deg);
    }
  }

/*Inicia footer mobile*/
#footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: grey;
    border: solid 3px black;
    border-radius: 10px;
}
.footer__div--p{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.footer--img{
    max-width: 20vw;
    height: auto;
    border: solid 3px black;
    border-radius: 10px;
}

/*---------------------------------------------------------------------*/
                          /* Vista Desktop */

@media(min-width:768px){
    #body{
        display: grid;
        grid-template-areas:
        "header header"
        "nav nav"
        "main aside"
        "footer footer";
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
    }

    /*Inicia header desktop*/
    #header{
        grid-area: header;
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 100%;
    }
    .header--img{
        width: 3%;
        height: auto;
        padding-left: 40px;
    }
    .header--p{
        font-size: 25px;
        padding-left: 20px;
    }

    /*Inicia nav desktop*/
    #nav{
        grid-area: nav;
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 100%;
    }
    .nav__div--img{
        padding-left: 20px;
    }
    li{
        display: inline-block;
        padding-left: 5px;
        font-weight: bold;
    }
    a{
        font-size: 40px;
        border-radius: 10px 20px;
    }

    /*Inicia main desktop*/
    #main{
        grid-area: main;
        width: 70vw;
        height:100vh;
    }
    .main__section__div{
        width: 70vw;
        font-size: 30px;
    }
    .main__section__div--padding{
        padding: 20px;
    }
    .main__section__div__a{
        animation-name: animacion_1;
        animation-duration: 4s;
        animation-delay: 0s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction:normal;
    }
    @keyframes animacion_1 {
        20%{
            scale: 0.3;
        }
        40%{
            scale: 0.4;
        }
        60%{
           scale: 0.5;
        }
        80%{
            scale: 0.6;
        }
        100%{
            scale: 0.7;
        }
    }

    .main__section__div__galeria{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        height: 100%;
       
    
    }
    .main__section__div__galeria--img{
        border: solid 3px greenyellow;
        border-radius: 10px;
        box-shadow: 3px 3px 30px;
        width: 80%;
        height: 80%;
    }

    
    /*Inicia aside desktop*/
    #aside{
        grid-area: aside;
        width: 30vw;
    }

    /*Inicia footer desktop*/
    #footer{
        grid-area: footer;
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 100%;
    }
    .footer__div--p{
        width: 100%;
        font-size: 30px;
        padding-left: 40px;
    }
    .footer__div--img{
        width: 100%;
        height: auto;
    }
    .footer--img{
        max-width: 26%;
        height: auto;
    }

}
