/*RESET CSS*/
*{
    margin: 0;
    padding: 0;
}

/*INICIA HEADER*/
.header__div{
    background-color: black;
    width: 100%;
    padding-top: 20px;
    border: solid 3px white;
    border-radius: 10px;
    height: 20px;
    position: relative;
}

.header__div__img{
    display: inline-block;
    padding-left: 50px;
    position: relative;
    bottom: 10px;
}

.header__div__p{
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    display: inline-block;
    padding-left: 10px;
    position: relative;
    bottom: 15px;
}

/*INICIA BARRA DE NAVEGACION*/
.nav{
    width: 100%;
    background-color: grey;
    position: relative;
    border: solid 3px black;
    border-radius: 10px;
}
.nav__div{
    display: inline-block;
    position: relative;
    left: 5%;
}

.nav__div__img{
    border: solid 3px white;
    position: relative;
    top: 3px;
}

li{
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    position: relative;
    bottom: 60px;
    border: solid 5px black;
    border-radius: 15px;
    background-color: rebeccapurple;
}

a{
    text-decoration: none;
    color:black;
    position: relative;
    right: 10px;
}

a:hover{
    text-decoration: none;
    color:greenyellow;
    position: relative;
    right: 10px;

} 

/*INICIA MAIN*/
.main{
    width: 100%;
    height: 600px;
    border: solid 3px black;
    border-radius: 10px;
}

.main__section{
    position: relative;
    bottom: 550px;
    text-align: center;
}

.main__section__article__div__h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
}

.main__section__article__div__p{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    width: 60%;
    position: relative;
    left: 280px;
}

.main__section__article__div__p--a{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    width: 60%;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;

}
.main__section__div{
background-color: black;
display: inline-block;
border: solid 3px greenyellow;
border-radius: 10px;
box-shadow:greenyellow 3px 3px 30px;
height: 200px;
padding-right: 5px;
position: relative;
top: 175px;
}

.main__section__div__div__img{
    display: inline-block;
    position: relative;
    bottom: 25px;
    left: 5px;

}

.main__section__div__div__iframe{
    display: inline-block;
}

/*SERVICIOS*/
.main__section__div__figure--1{
    display: inline-block;
    font-size: 30px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main__section__div__figure--2{
    display: inline-block;
    font-size: 30px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main__section__div__figure--3{
    display: inline-block;
    font-size: 30px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main__section__div__figure__img--1{
    border: solid 3px greenyellow;
    border-radius: 10px;
    box-shadow:greenyellow 3px 3px 30px;
    height: 300px;
    width: 300px;
    margin-right: 10px;
}

.main__section__div__figure__img--2{
    border: solid 3px greenyellow;
    border-radius: 10px;
    box-shadow:greenyellow 3px 3px 30px;
    height: 300px;
    width: 300px;
}

.main__section__div__figure__img--3{
    border: solid 3px greenyellow;
    border-radius: 10px;
    box-shadow:greenyellow 3px 3px 30px;
    height: 300px;
    width: 300px;
    margin-left: 10px;
}

/*GALERIA*/
.main__section__div__figure--galeria{
    padding: 4px;
    border: solid 3px greenyellow;
    border-radius: 10px;
    box-shadow:greenyellow 3px 3px 30px;
}

/*CONTACTANOS*/
.contactanos{
    display:inline-block;
}

.contactanos__form__div{
    padding-top: 20px;
    color: white;
    font-size: 20px;
    position: relative;
    right: 400px;
}

.contactanos__form__div__input{
    border: solid 3px greenyellow;
    border-radius: 10px;
    box-shadow: 3px 3px 30px greenyellow;
}

.contactanos__form__div__input--boton{
    border: solid 3px greenyellow;
    border-radius: 10px;
    box-shadow: 3px 3px 30px greenyellow;
    height: 40px;
    width: 70px;
    margin-left: 10px;
}

.contactanos__div{
    position: relative;
    left: 350px;
    bottom: 400px;
}

.contactanos__div__div{
    border: solid 3px greenyellow;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: 3px 3px 30px greenyellow;
}

.contactanos__div__div__p{
    display: inline-block;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    position: relative;
    bottom: 8px;
}

/*INICIA FOOTER*/
.footer{
    width: 100%;
    height: 40px;
    border: solid 3px black;
    border-radius: 10px;
    background-color: grey;
}

.footer__div--p{
    display: inline-block;
    padding-left: 50px;
    display: inline-block;
    position: relative;
    top: 15px;
}

.footer__div__p{
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    bottom: 28px;
    right: 5px;
}

.footer__div--img{
    display: inline-block;
}

.footer__div__img{
    border: solid 3px black;
    border-radius: 10px;
    position: relative;
    left: 60px;
}
